[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = git@github.com:devshgraphicsprogramming/glslang.git
	branch = nabla
[submodule "3rdparty/shaderc"]
	path = 3rdparty/shaderc
	url = git@github.com:Devsh-Graphics-Programming/shaderc.git
[submodule "3rdparty/bzip2"]
	path = 3rdparty/bzip2
	url = git@github.com:Devsh-Graphics-Programming/bzip2.git
[submodule "3rdparty/lz4"]
	path = 3rdparty/lz4
	url = git@github.com:Devsh-Graphics-Programming/lz4.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = git@github.com:Devsh-Graphics-Programming/zlib.git
[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng
	url = git@github.com:Devsh-Graphics-Programming/libpng.git
[submodule "3rdparty/libjpeg-turbo"]
	path = 3rdparty/libjpeg-turbo
	url = git@github.com:Devsh-Graphics-Programming/libjpeg-turbo.git
[submodule "3rdparty/portable-file-dialogs"]
	path = 3rdparty/portable-file-dialogs
	url = git@github.com:Devsh-Graphics-Programming/portable-file-dialogs.git
[submodule "3rdparty/libexpat"]
	path = 3rdparty/libexpat
	url = git@github.com:Devsh-Graphics-Programming/libexpat.git
	branch = master
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = git@github.com:AnastaZIuk/glm.git
[submodule "3rdparty/freetype2"]
	path = 3rdparty/freetype2
	url = git@github.com:Devsh-Graphics-Programming/freetype.git
[submodule "3rdparty/openexr"]
	path = 3rdparty/openexr
	url = git@github.com:Devsh-Graphics-Programming/openexr.git
[submodule "3rdparty/gli"]
	path = 3rdparty/gli
	url = git@github.com:Devsh-Graphics-Programming/gli.git
[submodule "3rdparty/parallel-hashmap"]
	path = 3rdparty/parallel-hashmap
	url = git@github.com:Devsh-Graphics-Programming/parallel-hashmap.git
[submodule "3rdparty/jitify"]
	path = 3rdparty/jitify
	url = git@github.com:Devsh-Graphics-Programming/jitify.git
[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = git@github.com:Devsh-Graphics-Programming/volk.git
[submodule "3rdparty/simdjson"]
	path = 3rdparty/simdjson
	url = git@github.com:Devsh-Graphics-Programming/simdjson.git
[submodule "3rdparty/glTFSampleModels"]
	path = 3rdparty/glTFSampleModels
	url = git@github.com:Devsh-Graphics-Programming/glTF-Sample-Models.git
[submodule "3rdparty/nbl_spirv_cross"]
	path = 3rdparty/nbl_spirv_cross
	url = git@github.com:devshgraphicsprogramming/SPIRV-Cross.git
[submodule "3rdparty/pstl/oneTBB"]
	path = 3rdparty/pstl/oneTBB
	url = git@github.com:Devsh-Graphics-Programming/oneTBB.git
[submodule "3rdparty/pstl/oneDPL/oneDPL"]
	path = 3rdparty/pstl/oneDPL/oneDPL
	url = git@github.com:Devsh-Graphics-Programming/oneDPL.git
[submodule "3rdparty/Vulkan-Headers"]
	path = 3rdparty/Vulkan-Headers
	url = git@github.com:Devsh-Graphics-Programming/Vulkan-Headers.git
	branch = main
[submodule "examples_tests"]
	path = examples_tests
	url = git@github.com:kpentaris/Nabla-Examples-and-Tests.git
	branch = master
[submodule "3rdparty/dxc/dxc"]
	path = 3rdparty/dxc/dxc
	url = git@github.com:Devsh-Graphics-Programming/DirectXShaderCompiler.git
	branch = devshFixes
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = git@github.com:Devsh-Graphics-Programming/imgui.git
[submodule "3rdparty/implot"]
	path = 3rdparty/implot
	url = git@github.com:Devsh-Graphics-Programming/implot.git
[submodule "tests"]
	path = tests
	url = git@github.com:Devsh-Graphics-Programming/Nabla-Continous-Integration-Python-Framework.git
[submodule "3rdparty/boost/superproject"]
	path = 3rdparty/boost/superproject
	url = git@github.com:boostorg/boost.git
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/Devsh-Graphics-Programming/json
[submodule "3rdparty/blake"]
	path = 3rdparty/blake
	url = git@github.com:Devsh-Graphics-Programming/BLAKE3.git
[submodule "3rdparty/imguizmo"]
	path = 3rdparty/imguizmo
	url = git@github.com:Devsh-Graphics-Programming/ImGuizmo.git
