[submodule "3rdparty/SPIRV-Headers"]
	path = 3rdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "3rdparty/SPIRV-Tools"]
	path = 3rdparty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/shaderc"]
	path = 3rdparty/shaderc
	url = https://github.com/google/shaderc.git
