# Code::Blocks files
*.depend
*.layout
# Visual Studio Code
.vscode/*
# temporary compiler files
*.objs*
*.d
*.o
# CEGUI's downloaded dependencies on Windows
3rdparty/CEGUI/cegui-deps-0.8.x-src.zip
# usually where people build
build/*
# default install paths
install/*
# legacy temporary and output directories
lib/*
doctemp/*
source/obj
source/Irrlicht/libIrrlichtServer.a
# stuff output by examples
examples_tests/06.MeshLoaders/bin/cow.baw
examples_tests/06.MeshLoaders/bin/extrusionLogo_TEST_fixed.baw
examples_tests/07.HardwareSkinning/bin/dwarf.baw

