name: repo_mirroring

on:
  schedule:
  - cron:  "*/5 * * * *"
  workflow_dispatch:

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: repo-sync
      uses: repo-sync/github-sync@v2
      with:
        source_repo: "buildaworldnet/IrrlichtBAW"
        source_branch: "master"
        destination_branch: "master_irrlichtbaw"
        github_token: ${{ secrets.GITHUB_TOKEN }}